footer
  .container
    ul.social-links-block
      li.social-links-block__link-blok
        a(href="https://www.facebook.com/").social-links-block__link.social-links-block__link_facebook facebook
      li.social-links-block__link-blok
        a(href="https://www.instagram.com/").social-links-block__link.social-links-block__link_instagram instagram
      li.social-links-block__link-blok
        a(href="https://twitter.com/").social-links-block__link.social-links-block__link_twitter twitter
      li.social-links-block__link-blok.social-links-block__link-blok_last
        a(href="https://linkedin.com/").social-links-block__link.social-links-block__link_linkedin linkedin
    .copyright-block
      span.copyright-block__text.small Copyright &#169;2020 All rights reserved