header.header
  .container
    .header-inner.mt-4
      nav.mobile-menu
          input(type="checkbox" id="checkbox").mobile-menu__checkbox
          label(for="checkbox").mobile-menu__btn
            .mobile-menu__icon
          .mobile-menu__container
            ul.mobile-menu__list#mobileMenuList 
                li.mobile-menu__item
                  a(href="index.html").mobile-menu__link.fs-5 Home
                li.mobile-menu__item
                  a(href="blog.html").mobile-menu__link.fs-5 Blog
                li.mobile-menu__item
                  a(href="works.html").mobile-menu__link.works-link.fs-5 Works
                li.mobile-menu__item
                  a(href="#").mobile-menu__link.fs-5 Contact