header.header
  .container
    .header-inner
      nav.header-nav.mt-4
        a(href="#").header-nav_item.active.fs-5 Home
        a(href="#").header-nav_item.fs-5 Works
        a(href="#").header-nav_item.fs-5 Blog
        a(href="#").header-nav_item.fs-5 Contact
      button.nav-toggle#navToggle
        span.nav-toggle__item Menu