extends ../layout/main

block variables
  - var title = 'John blog';
  - var description = 'John creative technologist blog';
  - var pageClass = 'blog-page';
block head 
  <style>.social-links-block__link { background-image: url('../assets/img/home/social.png'); }</style>

block content
  section.main
    .container
      h1.blog-header.typo-page-header Blog
      .row
        .col-xs-12
          .blog-card
            h4.blog-card__header.typo-header-bold-26 UI Interactions of the week
            .blog-card__body
              .blog-card__headline.typo-18
                .blog-card__data 12 Feb 2020
                span.card__headline_divider
                .blog-card__title Express, Handlebars
              p.blog-card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .col-xs-12
          .blog-card
            h4.blog-card__header.typo-header-bold-26 UI Interactions of the week
            .blog-card__body
              .blog-card__headline.typo-18
                .blog-card__data 12 Feb 2020
                span.card__headline_divider
                .blog-card__title Express, Handlebars
              p.blog-card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .col-xs-12
          .blog-card
            h4.blog-card__header.typo-header-bold-26 UI Interactions of the week
            .blog-card__body
              .blog-card__headline.typo-18
                .blog-card__data 12 Feb 2020
                span.card__headline_divider
                .blog-card__title Express, Handlebars
              p.blog-card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        .col-xs-12
          .blog-card
            h4.blog-card__header.typo-header-bold-26 UI Interactions of the week
            .blog-card__body
              .blog-card__headline.typo-18
                .blog-card__data 12 Feb 2020
                span.card__headline_divider
                .blog-card__title Express, Handlebars
              p.blog-card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.


