.container
  .banner__head
    h3.typo-header-head.banner__head_mobile Recent posts
    a(href="#").banner__header_link#viewAllCardLink View all
  .banner__cards.row
    .col-lg-6
      .banner__card.p-4
        h4.card__header.typo-header-bold-26 Making a design system from scratch
        .card__body
          .card__headline.typo-18
            .card__data 12 Feb 2020
            span.card__headline_divider
            .card__title Design, Pattern
          p.card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    .col-lg-6
      .banner__card.p-4
        h4.card__header.typo-header-bold-26 Creating pixel perfect icons in Figma
        .card__body
          .card__headline.typo-18
            .card__data 12 Feb 2020
            span.card__headline_divider
            .card__title Figma, Icon Design
          p.card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    .col-lg-6.disable
      .banner__card.p-4
        h4.card__header.typo-header-bold-26 Creating pixel perfect icons in Figma
        .card__body
          .card__headline.typo-18
            .card__data 12 Feb 2020
            span.card__headline_divider
            .card__title Figma, Icon Design
          p.card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    .col-lg-6.disable
      .banner__card.p-4
        h4.card__header.typo-header-bold-26 Making a design system from scratch
        .card__body
          .card__headline.typo-18
            .card__data 12 Feb 2020
            span.card__headline_divider
            .card__title Design, Pattern
          p.card__text Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.