.container
  .hero.row
    .col-lg-5
      .hero__picture 
        img(src="../../assets/img/home/John_photo.png" alt="John photo").hero__img
    .hero__text.col-lg-7
      h1.hero__text_header.typo-page-header Hi, I am John, Creative Technologist
      p.hero__text_para Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
      button.btn.btn-primary Download Resume